h1
{
    border-style:solid;
    border-width: 2px;
    font-size:26px;
    padding:20px;
    text-align: center;
    background-color: antiquewhite;
    font-family: Georgia, serif;
    
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    border-width:2px;
    border-style:solid;
    background-color: black;
    color: aliceblue;
}
.one
{
    border-width:1px;
    border-style:solid;
    font-family:bold;
    border-collapse:separate;
}
.pan
{
    border-style:solid;
    border-width :2px;
    background-color: blanchedalmond;
    text-decoration: solid;
    border-collapse:separate;
   
    
    
}
label
{
  display: inline-block;  
}

.print1
{
    width: 290px;
    padding: 20px;
}
